<h1>Person Attending</h1>
<% if @notsigned.any? %>
<%= form_for(@reserve, url: event_reserf_path) do |f| %>
  <%= f.label :user_id %>
  <%= f.select("person_id", @notsigned.collect {|p| [ p.name, p.id ] }) %><br/>
  <%= f.submit 'attend User', class: 'btn btn-primary' %>
<% end %>
  <% else %>
  <span> Currently No Users Added</span>
<% end %>
<br><br>
<div class='container'>
  <h4> Current Signed in </h4>
  <table class='table'>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>Date / Time</th>
    <th>QR code</th>
  </tr>
  <% @signed.each do |person| %>
  <tr>
  <td><%= person.person.name %></td>
  <td><%= person.person.email %></td>
  <td><%= person.created_at.strftime("%d-%m-%Y - %I:%M:%S %p") %></td>
  <td><%= link_to "QR", "/qr/#{person.event_hex}"%></td>
</tr>
  <% end %>
  </table>
</div>
