<h1>Person Attending</h1>
<div id='topHead' class='row'>
  <div class='col-md-6'>
<%= form_tag('/', id: 'search', "data-event-id": "#{params[:event_id]}") do %>
<%= label_tag(:search, "Search for:") %>
<%= text_field_tag(:search) %>
<%= submit_tag("Search", class:'btn-primary btn') %>
<% end %>

<%= form_for(@reserve, url: event_reserves_path) do |f| %>
  <%= f.label :user_id %>
  <%= f.select("person_id", Person.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %><br/>
  <%= f.submit 'attend User', class: 'btn btn-primary' %>
<% end %>
</div>

<div id='userResult' class='col-md-6'>

</div>
</div>
<br><br>
<div class='container'>
  <h4> Current Attending </h4>
  <% @people.each do |person| %>
  <%= person.person.name %><br>
  <% end %>
</div>
